# Development connection (example)
[connections.mysql]
type = "sql"
url = "mysql+mysqlconnector://root:admin123.@localhost:3306/adminerp_copy"

# Production connection (for later)
# [connections.mysql_prod]
# type = "sql"
# url = "mysql+mysqlconnector://root:admin123.@backapp.localto.net:1790/adminerp"
